################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NetCoreSplash/v16
/NetCoreSplash.APImenta/bin/Debug/netcoreapp3.1
/NetCoreSplash.APImenta/obj
/NetCoreSplash.APImenta/NetCoreSplash.APImenta.csproj.user
/NetCoreSplash.App/bin/Debug/netcoreapp3.1
/NetCoreSplash.App/obj
/NetCoreSplash.App/NetCoreSplash.App.csproj.user
/NetCoreSplash.Entity/bin/Debug/netcoreapp3.1
/NetCoreSplash.Entity/obj/Debug/netcoreapp3.1
/NetCoreSplash.Entity/obj
/.vs/NetCoreSplash
/NetCoreSplash.App/bin/Release/netcoreapp3.1
